.skipButton {
   position: relative;
   margin: auto;
   top: 10px;
   height: 20px;
   width: 80px;
   background-color: #5F9EA0;
   border-style: solid;
   text-align: center;
   border-width: 2px;
}

.skipButton:hover {
   background-color: #5f8794;
   cursor: pointer;
}

.skipButton:active {
   position: relative;
   top: 12px;
   background-color: #526d75;
}

.actionbuttons {
   background-color: #E6E6F9;
   position: absolute;
   bottom: 0%;
   right: 0%;
   height: 10%;
   width: 20%;
}
