.currPlayer {
   width: 200px;
   height: 40px;
   position: absolute;
   bottom: 0%;
   right: 15%;
   padding: 10px 10px;
   z-index: 100;
   font-weight: bold;
   font-size: 20px;
}

.currPlayer span {
   display: inline-block;
   padding: 0px 10px;
}
