.GameStat {
   background-color: red;
   width: 320px;
   padding: 10px;
   border: 5px solid gray;
   margin: 0;
   float: left;
   position: absolute;
   bottom: 10px;
}



.BIGBOY {
   font-weight: bold;
   color: white;
}
