.GameStat {
   background-color: red;
   width: 220px;
   padding: 10px;
   border: 5px solid gray;
   margin: 0;
   float: left;
   position: absolute;
   left: 1000px;
   top: 200px;
}



.BIGBOY {
   font-weight: bold;
   color: white;
}
