.card {
   background-color: green;
   width: 150px;
   height: 250px;
   border-color: black;
}

.cardMarket {
   position: absolute;
   top: 0;
   left: 0;
   width: 1000px;
   height: 400px;
   background-color: blue;
   display: flex;
   justify-content: space-evenly;
}

.buy {
   text-align: center;
   background-color: grey;
   width: 50px;
}
