.card {
   background-color: green;
   width: 150px;
   height: 250px;
   float: left;
   border-color: black;
}

.cardMarket {
   position: absolute;
   top: 0;
   left: 0;
   width: 80vw;
   height: 70vh;
   background-color: blue;
}
