
.playerCard {
   position: relative;
   top: 40px;
   width: 150px;
   height: 200px;
   float: left;
   border-style: solid;
   border-radius: 10px;
   background-color: #F0E68C;
   padding: 10px 10px;
}

.playerCard:active {
   cursor: grab;
}

.playerCards {
   position: absolute;
   bottom: 0%;
   left: 0%;
   width: 80%;
   height: 40%;
   background-color: #FF7F50;
   display: flex;
   justify-content: space-evenly;
   perspective: 200px;

}

.sellButton {
   text-align: center;
   background-color: #D3D3D3;
   width: 50px;
   margin: auto;
   border-style: solid;
   border-width: 2px;
}

.sellButton:hover {
   background-color: #A9A9A9;
   cursor: pointer;
}

.sellButton:active {
   background-color: #808080;
   position: relative;
   top: 2px;
}
