
.playerCard {
   background: #123475;
   width: 150px;
   height: 250px;
   float: left;
   border-color: black;
}

.playerCards {
   position: absolute;
   top: 400px;
   left: 200px;
   width: 800px;
   height: 300px;
   background-color: #9a00f9;
   display: flex;
   justify-content: space-evenly;
}

.sellButton {
   text-align: center;
   background-color: grey;
   width: 50px;
}

.player {
   flex: left;
   background-color:
}
