.stock_market {
   background-color: #E6E6FA;
   width: 18%;
   height: 48%;
   position: absolute;
   right: 0%;
   top: 40%;
   padding: 1% 1%;

}

.stock_market img {
   border-radius: 10px;
   width: 98%;
   right: 1%;
}

.stock_text {
   color: white;
   background-color: black;
   padding: 0% 5%;
   border-style: solid;
   border-color: white;
}
