/*
*	This is the cascading style sheet file for the Graphics playground page.
*	Unlike javascript files, the style sheet should be the only style sheet
*	for the index page.
*/


/* imported font from google fonts */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/*
  font-family: 'Josefin Sans', sans-serif;
*/

.hidden {
    display: none !important;
}

body {
  height: 100vh;
  width: 100%;
  min-width: 700px;
  min-height: 400px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  margin: 0px;
}

header {
  height: 20vh;
	width: 90%;
	border-radius: 5px;
	background: #e2edff;
	padding: 2% 5%;


}

#window {
  height: 18vh;
  width: 40%;
  background: #e2bdcc;
  display: inline-block;
  margin-left: 20%;

}

#scoreboard {
  height: 14vh;
  width: 21%;
  padding: 2vh;
  background: #e2bdcc;
  display: inline-block;
  margin-left: 5%;
  position: absolute;

}

#vases {
  height: 20vh;
  width: 100%;
  background: #e12638;
  margin: 20vh auto 0vh auto ;
}

.vase {
   position: absolute;
   height: 13vh;
   width: 8%;
   margin: 1%;
   background: #b36271;
   border: 0px;
}

.vase:hover {
    background: #b30271;
    cursor: pointer;

}

footer {
  height: 20vh;
  width: 100%;
  background: #c12342;
  bottom: 0vh;
  position: absolute;
}
